.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.search_container input {
  border-radius: 15px;
  border: none;
  width: 40%;
  padding: 6px 15px;
  background-color: rgb(163, 152, 224);
  color: black;
  font-size: 20px;
  box-shadow: inset 0 0 10px #000000;
}
input:focus {
  outline: none;
}

@media (max-width: 600px) {
  .search_container input {
    width: 70%;
    font-size: 18px;
  }
}
